form{
  margin-top: .5rem;
  margin-left: .5rem;
}

.display-table{
  margin-top: .5rem;
}

.fab-right-float{
  float: right;
  margin-right: .5rem;
}

.md-icon-small{
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

.table tbody tr td {
  padding: 5px 0 0 0;
}

h3 {
  margin: 0;
}

.cap-h3 {
  margin-bottom: 2rem;
}
