<md-progress-spinner
  class="example-margin"
  color="primary"
  mode="indeterminate"
  value="0"
  *ngIf="!(inventories$ | async)">
</md-progress-spinner>

<div class="inventory-list" *ngIf="inventories$ | async">
  <form>
    <!--Inventory Selector-->
    <md-select placeholder="Select Inventory" [(ngModel)]="selectedInventory" name="inventory" color="accent">
      <md-option *ngFor="let inventory of inventories$ | async" [value]="inventory">
        {{inventory.name}}
      </md-option>
    </md-select>
    <!--Create a new inventory-->
    <a md-mini-fab mdTooltip="Create a new Inventory" mdTooltipPosition="right"
       (click)="createDialog()" color="primary"><md-icon>add</md-icon></a>

    <a md-mini-fab (click)="deleteDialog()" class="fab-right-float" mdTooltip="Delete Inventory"
       mdTooltipPosition="left" *ngIf="selectedInventory" color="warn"><md-icon>delete</md-icon></a>
    <a md-mini-fab (click)="addProductDialog()" class="fab-right-float" mdTooltip="Add a product"
       mdTooltipPosition="left" *ngIf="selectedInventory" color="warn"><md-icon>add</md-icon></a>
  </form>
  <!--Inventory products for selected inventory-->
  <div class="display-table" *ngIf="selectedInventory">
    <md-card>
      <md-card-content>
        <div class="row"><h3>{{selectedInventory.name}}</h3></div>
        <div class="row"><h5>{{selectedInventory.description}}</h5></div>
        <table class="table row">
          <thead>
          <th>Name</th>
          <th>Brand</th>
          <th>Description</th>
          <th>Unique Id</th>
          <th>Date Added</th>
          <th>Price</th>
          </thead>
          <tbody *ngFor="let product of selectedInventory.inventoryProducts">
            <tr>
              <td>{{product.name}}</td>
              <td>{{product.brand}}</td>
              <td>{{product.description}}</td>
              <td>{{product.uniqueId}}</td>
              <td>{{product.dateAdded}}</td>
              <td>{{product.price}}</td>
              <td><a md-mini-fab (click)="deleteProductDialog(product.id)" class="fab-right-float"
                     mdTooltip="Delete Product" mdTooltipPosition="left"
                     *ngIf="selectedInventory" color="warn" class="md-icon-small">
                <md-icon class="md-icon-small" >clear</md-icon></a></td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
  </div>
</div>
