* {
  margin: auto;
}


a {
  text-decoration: none;
}

md-card {
  width: 25rem;
  height: 20rem;
  display: inline-block;
  margin: 50px 25px 50px 25px;
  text-align: left;
}

.customer-list {
  padding: 0;
}

.md-container {
  width: 300px;
  margin: auto;
}

md-input-container {
  width: 250px;
}
