<div class="customer-list" *ngIf="path">
  <div class="md-container">
    <md-input-container>
      <input mdInput type="text" placeholder="Search">
    </md-input-container>
    <md-icon>search</md-icon>
  </div>
  <div class="row">
    <a md-button *ngFor="let user of users$ | async" color="primary" routerLink="{{user.id}}"
       routerLinkActive="active">
      <md-card>
        <md-card-header>
          <h5>{{user.name}}</h5>
          <h6>{{user.id}}</h6>
        </md-card-header>
      </md-card>
    </a>
  </div>
</div>
