<div class="row btn-back">
  <button md-fab color="primary" (click)="goBack()">
    <md-icon>arrow_back</md-icon>
  </button>
</div>

<md-progress-spinner
  class="example-margin"
  color="primary"
  mode="indeterminate"
  value="0"
  *ngIf="(loading$ | async)">
</md-progress-spinner>

<div *ngIf="!(loading$ | async)">
  <md-card color="primary">
    <md-card-header>
      <h3>{{(user$ | async).lastName}}, {{(user$ | async).firstName}}</h3>
    </md-card-header>
    <md-card-content>
      <div class="order-list">
      <md-toolbar>
        <span><h4>Orders</h4></span>
        <span class="md-tb-spacer"></span>
        <a md-icon-button color="primary" (click)="addOrder()">
          <md-icon>add_shopping_cart</md-icon>
        </a>
      </md-toolbar>
        <table class="table">
          <thead>
          <th>Name</th>
          <th>Brand</th>
          <th>Description</th>
          <th>Order Date</th>
          <th>Price</th>
          </thead>
          <tbody *ngFor="let order of (user$ | async).orders">
          <td>{{order.name}}</td>
          <td>{{order.brand}}</td>
          <td>{{order.description}}</td>
          <td>{{order.orderDate}}</td>
          <td>{{order.price}} Php</td>
          </tbody>
        </table>
      </div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button (click)="deleteUser()" color="warn">Delete</button>
    </md-card-actions>
  </md-card>
</div>

